.back-to-top {
  position: fixed;
  display: none;
  background: $color-blue-bg;
  color: $color-white;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: $color-white;
}

.internal-shadow {
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2) !important;
}
