<div class="area internal-background branco p-3" id="agenda">
    <div class="container">
        <a routerLink="/novidades">
            <h2 class="area-title" data-aos="fade-down">NOSSA AGENDA</h2>
        </a>
        <div class="row mb-3 mt-3">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-3 area-agenda-bar" data-aos="zoom-in">
                <h2 class="area-title-agenda cursor-auto"> 
                    <i class="fa fa-calendar mr-2"></i>
                    Segunda-feira
                </h2>
                <p class="area-subtitle-agenda font-weight-bold">
                    Culto de Oração
                </p>
                <p class="area-subtitle-agenda hora">
                    <i class="fa fa-clock-o mr-2"></i> 19h30
                </p>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-3 area-agenda-bar" data-aos="zoom-in">
                <h2 class="area-title-agenda cursor-auto"> 
                    <i class="fa fa-calendar mr-2"></i>
                    Quinta-feira
                </h2>
                <p class="area-subtitle-agenda font-weight-bold">
                    Culto de Celebração
                </p>
                <p class="area-subtitle-agenda hora">
                    <i class="fa fa-clock-o mr-2"></i> 19h30
                </p>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-3 area-agenda-bar" data-aos="zoom-in">
                <h2 class="area-title-agenda cursor-auto"> 
                    <i class="fa fa-calendar mr-2"></i>
                    Sábado
                </h2>
                <p class="area-subtitle-agenda font-weight-bold">
                    Culto Jovem
                </p>
                <p class="area-subtitle-agenda hora">
                    <i class="fa fa-clock-o mr-2"></i> 19h00
                </p>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-3" data-aos="zoom-in">
                <h2 class="area-title-agenda cursor-auto"> 
                    <i class="fa fa-calendar mr-2"></i>
                    Domingo
                </h2>
                <p class="area-subtitle-agenda font-weight-bold">
                    Culto de Celebração
                </p>
                <p class="area-subtitle-agenda hora">
                    <i class="fa fa-clock-o mr-2"></i> 09h00 - 19h00
                </p>
            </div>
        </div>

        <p class="text-center">
            <a routerLink="/novidades" class="text-dark exhibition-mobile" data-aos="zoom-in">
                Toque
                para ver nossa agenda
                completa.
            </a>
        </p>
        <p class="text-center">
            <a routerLink="/novidades" class="text-dark exhibition-desktop" data-aos="zoom-in">
                Clique
                para ver nossa agenda
                completa.
            </a>
        </p>
    </div>
</div>