.sg-item {
    border-bottom: solid 1px $color-border;
    border-top: solid 1px $color-border;
    border-left: solid 1px $color-border;
    border-right: solid 1px $color-border;
    padding: 20px 20px 20px 20px;
    background: $color-gray-bg;
}
