@import "../scss/includes.scss";

.footer {
  background-color: $color-light-black;
  color: $color-white;
  padding-top: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    margin-bottom: 1rem;
    line-height: 1.2;
  }
}
