<div class="area mt-3" id="novidades">

    <a routerLink="/novidades">
        <h2 class="area-title" data-aos="fade-down">NOVIDADES</h2>
    </a>

    <div class="area internal">
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3" data-aos="fade-right">
                    <a routerLink="/novidades">
                        <figure class="hero-grid effect-move">
                            <img class="hero-grid-image effect-image"
                                [src]="getImgPath('1QWohNnE-1iMBDGLjUFFCHETBAi5z53DR')" />
                            <figcaption class="hero-grid-content">
                                <span class="hero-tag effect-target">Cultos</span>
                                <h2 class="hero-grid-title effect-target">Vídeos <br>e Lives</h2>
                                <p class="effect-target effect-text font-weight-bold text-white">Saiba
                                    mais+</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3" data-aos="fade-right">
                    <a routerLink="/novidades">
                        <figure class="hero-grid effect-move">
                            <img class="hero-grid-image effect-image"
                                [src]="getImgPath('1uPR4DCUh5tNM9qQkCdkbjM1YETbmCBLo')" />
                            <figcaption class="hero-grid-content">
                                <span class="hero-tag effect-target">Ministrações</span>
                                <h2 class="hero-grid-title effect-target">Mensagens online</h2>
                                <p class="effect-target effect-text font-weight-bold text-white">Saiba
                                    mais+</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3" data-aos="fade-left">
                    <a routerLink="/novidades">
                        <figure class="hero-grid effect-move">
                            <img class="hero-grid-image effect-image"
                                [src]="getImgPath('1MYXIUbWhgLree9BQExnPYXoOSCudaff9')" />
                            <figcaption class="hero-grid-content">
                                <span class="hero-tag effect-target">Igreja de gente pequena</span>
                                <h2 class="hero-grid-title effect-target">Material didático</h2>
                                <p class="effect-target effect-text font-weight-bold text-white">Saiba
                                    mais+</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3" data-aos="fade-left">
                    <a routerLink="/novidades">
                        <figure class="hero-grid effect-move">
                            <img class="hero-grid-image effect-image"
                                [src]="getImgPath('1r-Hbp9sB1VLUTlExEUFgGogtLqj9foeY')" />
                            <figcaption class="hero-grid-content">
                                <span class="hero-tag effect-target">Escola bíblica</span>
                                <h2 class="hero-grid-title effect-target">Aulas online</h2>
                                <p class="effect-target effect-text font-weight-bold text-white">Saiba
                                    mais+</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <p class="text-center">
            <a routerLink="/novidades" class="text-dark exhibition-mobile" data-aos="fade-right">
                Toque para ver todas as novidades.
            </a>
        </p>
        <p class="text-center">
            <a routerLink="/novidades" class="text-dark exhibition-desktop" data-aos="fade-right">
                Clique para ver todas as novidades.
            </a>
        </p>
    </div>
</div>