<div class="area internal-background cinza p-3">
    <div class="container" data-aos="fade-up">
        <h2 class="internal-title mb-3 cursor-auto">Seja bem-vindo!</h2>
        <p class="text-justify" data-aos="fade-right">Queridos visitantes e membros, este é o nosso site! Aqui você
            pode conhecer a história da nossa denominação e da igreja local, além de encontrar informações úteis
            sobre nossa igreja, nossa fé, nossos ministérios e nossa agenda de eventos e atividades. Também estão
            disponíveis, em áudio e vídeo, as mensagens de nossos cultos.
        </p>

        <p class="text-justify" data-aos="fade-right">Aos nossos visitantes, gostaríamos de recebê-los,
            presencialmente, em nossa igreja. Neste site você encontrará informações sobre nossa localização,
            horários e datas de nossas reuniões e alguns meios de contato disponíveis. Não deixe de nos visitar.
            Você e sua família são muito bem-vindos!
        </p>

        <p class="text-justify" data-aos="fade-right">Deus lhe abençoe!</p>

        <p class="text-justify">
            <a routerLink="/sobre" class="text-dark exhibition-mobile" data-aos="fade-right">
                Toque
                para conhecer
                a nossa
                história e liderança.
            </a>
        </p>

        <p class="text-center">
            <a routerLink="/sobre" class="text-dark exhibition-desktop" data-aos="fade-right">
                Clique para conhecer
                a nossa
                história e liderança.
            </a>
        </p>
    </div>
</div>