.accordion {
  width: 100%;
  margin: 20px auto;
}
.accordion h1,
h2,
h3,
h4 {
  cursor: pointer;
}
.accordion h1 {
  padding: 20px 20px;
  background-color: $color-light-black;
  font-size: 1.3rem;
  font-weight: normal;
  color: $color-white;
  margin-bottom: 0rem;

  @include medium-and-up {
    font-size: 1.5rem;
  }
}
.accordion h1:hover {
  color: $color-gray;
}
.accordion h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px solid $color-gray;
}
.accordion div,
.accordion p {
  display: none;
}
.accordion h2 {
  padding: 20px 20px;
  background-color: $color-gray;
  font-size: 1.3rem;
  color: $color-black;
  margin-bottom: 0rem;
}
.accordion h2:hover {
  background-color: $color-light-gray;
}
.accordion h3 {
  padding: 20px 20px;
  background-color: $color-blue;
  font-size: 1.3rem;
  color: $color-white;
  margin-bottom: 0rem;
}
.accordion h3:hover {
  background-color: $color-light-blue;
}
.accordion h4 {
  padding: 20px 20px;
  background-color: $color-red;
  font-size: 1.3rem;
  color: $color-white;
  margin-bottom: 0rem;
}
.accordion h4:hover {
  background-color: $color-red-tomato;
}
.accordion p {
  padding: 20px 20px;
  background-color: $color-gray-bg;
  font-size: 1rem;
  color: $color-black;
  line-height: 1.3rem;
  margin-bottom: 0rem;
}
