
.floatupbtn {
    position: fixed;
    width: 3rem;
    height: 3rem;
    background-color: $color-black;
    color:#FFF;
    z-index: 100;
    display: flex;

    right: 1rem;
    bottom: -3.4rem;

    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.4s ease-out, bottom 0.4s ease, transform 0.2s ease;

    &:hover {
        opacity: 0.8;
        transform: translateY(-0.4rem);
    }

    &.is-shown {
        bottom: 1rem;
    }
    
    @include medium-and-up {
        right: 2.4rem;
        &.is-shown { bottom: 2.4rem; }
    }

    @include large-and-up {
        right: 3.4rem;

        &.is-shown { bottom: 3.4rem; }
    }
}


.floatupbtn-chevron {
    display: block;
    text-align: center;
    flex: 10;
    align-self: center;

    &:before {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        border-color: $color-white;
        content: '';
        display: inline-block;
        position: relative;
        transform: rotate(-45deg);
        vertical-align: top;
        height: 0.8rem;
        width: 0.8rem;
        margin-top: 0.5rem;
    }
}