.container {
  margin: auto;
  display: block;

  padding: 1rem;

  width: $container-xs-width;
  @include small-and-up {
    width: $container-md-width;
  }
  @include medium-and-up {
    width: $container-md-width;
  }
  @include large-and-up {
    width: $container-lg-width;
  }
  @include xlarge-and-up {
    width: $container-xl-width;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  float: left;
  width: 8.3%;
}
.col-2 {
  float: left;
  width: 16.6%;
}
.col-3 {
  float: left;
  width: 25%;
}
.col-4 {
  float: left;
  width: 33.33333%;
}
.col-5 {
  float: left;
  width: 41.66667%;
}
.col-6 {
  float: left;
  width: 50%;
}
.col-7 {
  float: left;
  width: 58.33333%;
}
.col-8 {
  float: left;
  width: 66.66667%;
}
.col-9 {
  float: left;
  width: 75%;
}
.col-10 {
  float: left;
  width: 83.33333%;
}
.col-11 {
  float: left;
  width: 91.66667%;
}
.col-12 {
  float: left;
  width: 100%;
}

.row.gutter {
  .col-1 {
    margin-left: 2%;
    width: 6.5%;
  }
  .col-2 {
    margin-left: 2%;
    width: 15%;
  }
  .col-3 {
    margin-left: 2%;
    width: 23.5%;
  }
  .col-4 {
    margin-left: 2%;
    width: 32%;
  }
  .col-5 {
    margin-left: 2%;
    width: 40.5%;
  }
  .col-6 {
    margin-left: 2%;
    width: 49%;
  }
  .col-7 {
    margin-left: 2%;
    width: 57.5%;
  }
  .col-8 {
    margin-left: 2%;
    width: 66%;
  }
  .col-9 {
    margin-left: 2%;
    width: 74.5%;
  }
  .col-10 {
    margin-left: 2%;
    width: 83%;
  }
  .col-11 {
    margin-left: 2%;
    width: 91.5%;
  }
  .col-12 {
    width: 100%;
  }
}

@include small-and-up {
  .col-sm-1 {
    float: left;
    width: 8.3%;
  }
  .col-sm-2 {
    float: left;
    width: 16.6%;
  }
  .col-sm-3 {
    float: left;
    width: 25%;
  }
  .col-sm-4 {
    float: left;
    width: 33.33333%;
  }
  .col-sm-5 {
    float: left;
    width: 41.66667%;
  }
  .col-sm-6 {
    float: left;
    width: 50%;
  }
  .col-sm-7 {
    float: left;
    width: 58.33333%;
  }
  .col-sm-8 {
    float: left;
    width: 66.66667%;
  }
  .col-sm-9 {
    float: left;
    width: 75%;
  }
  .col-sm-10 {
    float: left;
    width: 83.33333%;
  }
  .col-sm-11 {
    float: left;
    width: 91.66667%;
  }
  .col-sm-12 {
    float: left;
    width: 100%;
  }

  .row.gutter {
    .col-sm-1 {
      margin-left: 2%;
      width: 6.5%;
    }
    .col-sm-2 {
      margin-left: 2%;
      width: 15%;
    }
    .col-sm-3 {
      margin-left: 2%;
      width: 23.5%;
    }
    .col-sm-4 {
      margin-left: 2%;
      width: 32%;
    }
    .col-sm-5 {
      margin-left: 2%;
      width: 40.5%;
    }
    .col-sm-6 {
      margin-left: 2%;
      width: 49%;
    }
    .col-sm-7 {
      margin-left: 2%;
      width: 57.5%;
    }
    .col-sm-8 {
      margin-left: 2%;
      width: 66%;
    }
    .col-sm-9 {
      margin-left: 2%;
      width: 74.5%;
    }
    .col-sm-10 {
      margin-left: 2%;
      width: 83%;
    }
    .col-sm-11 {
      margin-left: 2%;
      width: 91.5%;
    }
    .col-sm-12 {
      width: 100%;
    }
  }
}

@include medium-and-up {
  .col-md-1 {
    float: left;
    width: 8.3%;
  }
  .col-md-2 {
    float: left;
    width: 16.6%;
  }
  .col-md-3 {
    float: left;
    width: 25%;
  }
  .col-md-4 {
    float: left;
    width: 33.33333%;
  }
  .col-md-5 {
    float: left;
    width: 41.66667%;
  }
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-7 {
    float: left;
    width: 58.33333%;
  }
  .col-md-8 {
    float: left;
    width: 66.66667%;
  }
  .col-md-9 {
    float: left;
    width: 75%;
  }
  .col-md-10 {
    float: left;
    width: 83.33333%;
  }
  .col-md-11 {
    float: left;
    width: 91.66667%;
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }

  .row.gutter {
    .col-md-1 {
      margin-left: 2%;
      width: 6.5%;
    }
    .col-md-2 {
      margin-left: 2%;
      width: 15%;
    }
    .col-md-3 {
      margin-left: 2%;
      width: 23.5%;
    }
    .col-md-4 {
      margin-left: 2%;
      width: 32%;
    }
    .col-md-5 {
      margin-left: 2%;
      width: 40.5%;
    }
    .col-md-6 {
      margin-left: 2%;
      width: 49%;
    }
    .col-md-7 {
      margin-left: 2%;
      width: 57.5%;
    }
    .col-md-8 {
      margin-left: 2%;
      width: 66%;
    }
    .col-md-9 {
      margin-left: 2%;
      width: 74.5%;
    }
    .col-md-10 {
      margin-left: 2%;
      width: 83%;
    }
    .col-md-11 {
      margin-left: 2%;
      width: 91.5%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
}

@include large-and-up {
  .col-lg-1 {
    float: left;
    width: 8.3%;
  }
  .col-lg-2 {
    float: left;
    width: 16.6%;
  }
  .col-lg-3 {
    float: left;
    width: 25%;
  }
  .col-lg-4 {
    float: left;
    width: 33.33333%;
  }
  .col-lg-5 {
    float: left;
    width: 41.66667%;
  }
  .col-lg-6 {
    float: left;
    width: 50%;
  }
  .col-lg-7 {
    float: left;
    width: 58.33333%;
  }
  .col-lg-8 {
    float: left;
    width: 66.66667%;
  }
  .col-lg-9 {
    float: left;
    width: 75%;
  }
  .col-lg-10 {
    float: left;
    width: 83.33333%;
  }
  .col-lg-11 {
    float: left;
    width: 91.66667%;
  }
  .col-lg-12 {
    float: left;
    width: 100%;
  }

  .row.gutter {
    .col-lg-1 {
      margin-left: 2%;
      width: 6.5%;
    }
    .col-lg-2 {
      margin-left: 2%;
      width: 15%;
    }
    .col-lg-3 {
      margin-left: 2%;
      width: 23.5%;
    }
    .col-lg-4 {
      margin-left: 2%;
      width: 32%;
    }
    .col-lg-5 {
      margin-left: 2%;
      width: 40.5%;
    }
    .col-lg-6 {
      margin-left: 2%;
      width: 49%;
    }
    .col-lg-7 {
      margin-left: 2%;
      width: 57.5%;
    }
    .col-lg-8 {
      margin-left: 2%;
      width: 66%;
    }
    .col-lg-9 {
      margin-left: 2%;
      width: 74.5%;
    }
    .col-lg-10 {
      margin-left: 2%;
      width: 83%;
    }
    .col-lg-11 {
      margin-left: 2%;
      width: 91.5%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
}

[class^="col-"] {
  &:first-child {
    margin-left: 0 !important;
  }
}
