.internal-content {
  display: block;
}

.internal-title {
  color: $color-blue;
  font-size: 1.2rem;
  font-family: $font-montserrat;
  font-weight: 400;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin: auto;

  &.co {
    text-align: left;
    text-transform: uppercase;
  }
}

.internal-subtitle {
  color: $color-gray;
  font-size: 1.1rem;
  font-family: $font-montserrat;
  font-weight: 500;
  text-align: justify;
  max-width: 100%;
  margin: auto;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  line-height: 1.5rem;
}

.internal-paragraph {
  color: $color-gray;
  font-size: 1.2rem;
  font-family: $font-montserrat;
  font-weight: 500;
  text-align: left;
  max-width: 100%;
  margin: auto;
  padding-bottom: 1rem;
  line-height: 1.8rem;

  &--footer {
    text-align: right;
    max-width: 90%;
    font-size: 0.8rem;
    color: #c5c5c5;
    border-top: 1px #eaeaea solid;
    padding-top: 0.9rem;

    @include small-and-up {
      max-width: 45rem;
    }
  }
}

.internal-paragraph-bar {
  position: absolute;
  top: 7px;
  left: -5%;
  border-top: 0;
  border-left: solid 6px #3f5eac;
  height: 4.5rem;

  @include small-and-up {
    left: -2%;
  }
}

.internal-image {
  display: block;

  &.co {
    max-width: 15rem;
    min-width: 20rem;
  }

  &.footer {
    max-width: 100%;
    min-width: 100%;
  }
}

.internal-area {
  border-bottom: solid 1px $color-border;
  max-width: 50%;
  margin: auto;
}

.paragraph-area {
  border-bottom: solid 1px $color-border;
  max-width: 80%;
  margin: auto;

  @include small-and-up {
    max-width: 45rem;
  }
}

.internal-icon {
  transform: translateY(150%);
}

.internal-link {
  text-decoration: none;
}

.internal-border {
  border-top: 1px #eaeaea solid;
}

.internal-background {
  background-color: $color-background !important;

  &.mensagens {
    background-color: $color-white !important;
  }
  &.ministerios {
    background-color: $color-blue-bg !important;
  }
  &.agenda {
    background-color: $color-white !important;
  }
  &.contato {
    background-color: $color-background !important;
  }
}

.floatupbtn {
  position: fixed;
  width: 3rem;
  height: 3rem;
  background-color: #000;
  color: #fff;
  z-index: 100;
  display: flex;
  right: 1rem;
  bottom: -3.4rem;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.4s ease-out, bottom 0.4s ease, transform 0.2s ease;
}

.internal-navbar-image {
  width: 60%;
  margin-top: 0.2rem;
  margin-left: -0.4rem;

  @include small-and-up {
    width: 30%;
  }
  @include medium-and-up {
    width: 30%;
  }
  @include large-and-up {
    width: 30%;
  }
  @include xlarge-and-up {
    width: 30%;
  }
}

.internal-carousel-image {
  width: 100%;
}

// Variables!
$effect-background: #3085a3;

// Setting up blocks
.hero-grid {
  position: relative;
  float: left;
  overflow: hidden;
  background: $effect-background;
  cursor: pointer;

  // will need to be changed
  margin: 20px;
  max-width: 400px;
  max-height: 300px;
}

.hero-grid-image {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.2;
}

.hero-grid-content {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hero-grid-content::before,
.hero-grid-content::after {
  pointer-events: none;
}

.hero-grid-link {
  // make the link cover everything but show nothing
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.hero-grid-title {
  letter-spacing: -1px;
  font-weight: 300;
  margin: 0;
  padding: 0.25em 0;
  line-height: 1;
}

.hero-grid-title span {
  font-weight: 800;
}

.hero-tag {
  display: inline-block;
  font-size: 0.5em;
  padding: 0.5em;
  background: #fff;
  color: #000;
}

.hero-grid h2,
.hero-grid p {
  margin: 0;
}

.hero-grid p {
  letter-spacing: 1px;
  font-size: 68.5%;
  height: 2.25em;
  overflow: hidden;
}

// effect start

.effect-image {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.2;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

.effect-target {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

.effect-target {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.effect-text {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

.effect-move:hover .effect-image,
.effect-move:hover .effect-text {
  opacity: 1;
}

.effect-move:hover .effect-target,
.effect-move:hover .effect-image {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.effect-move:hover .effect-text {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
