.navbar {
  background-color: $color-light-black;
  color: $color-white;
  width: 100%;
  line-height: 80px;
  font-size: 18px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 90px;

  @include medium-and-up {
    height: auto;
  }
}
.navbar a {
  text-decoration: none;
  color: $color-white;
  font-size: 1.5rem;

  @include medium-and-up {
    font-size: 1.5rem;
  }
}

.navbar a.navbar-brand {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}
.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 15px;
}
.navbar ul li a:hover {
  color: $color-light-blue;
  // border-bottom: solid 2px $color-light-blue;
}

.navbar .navbar-toggler {
  display: none;
}

@media (max-width: 991px) {
  .navbar ul {
    padding: 0 10px;
  }
  .navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  }
}

@media (max-width: 1344px) {
  .navbar {
    padding: 0;
  }
  .navbar ul {
    width: 100vw;
    padding: 0;
    background-color: $color-light-black;
    height: 90vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .navbar ul.open {
    max-height: 100vh;
    margin-top: 0rem;
  }
  .navbar ul li {
    width: 100%;
    /* border-bottom: 1px solid rgba(255,255,255,0.3); */
  }
  .navbar ul li a {
    padding: 0;
  }
  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: $color-white;
    border: 3px solid $color-white;
    /* border: none; */
    /* border-radius: 4px; */
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: "";
    background-color: $color-white;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  .navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background-color: transparent;
    /* transform: scale(0.85) rotate(270deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /* transform: translateY(0px) scale(0.75) rotate(45deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
  }
}

.internal-navbar-image {
  width: 50%;
  margin-bottom: 0.9rem;

  @include medium-and-up {
    width: 60%;
    margin-left: 2rem;
    margin-bottom: 0rem;
  }
}
