<div class="area internal-background azul p-3" id="ministerios">

    <div class="container">
        <a routerLink="/ministerios">
            <h2 class="area-title text-white" data-aos="fade-down">MINISTÉRIOS</h2>
        </a>
        <p class="text-justify text-white mb-5" data-aos="fade-right">
            Este texto deve ser substituído este texto deve ser substituído este texto deve ser substituído este
            texto deve ser substituído este texto deve ser substituído este texto deve ser substituído este texto
            deve ser substituído este texto deve ser substituído este texto deve ser substituído este texto deve ser
            substituído.
        </p>
        <a routerLink="/ministerios">
            <div class="row mb-3 mt-3" data-aos="zoom-in">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-3">
                    <img [src]="getImgPath('1kedSa0Zy5RBxoG2bg69S_Y0qV7SeJcS5')" class="internal-image ministerios">
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-5">
                    <img [src]="getImgPath('109RI0qMHVDg2QTeblCCY9obgTS6PpfUO')" class="internal-image ministerios ebd">
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-5">
                    <img [src]="getImgPath('1ssaeQbGdSNv98rYGoUixRr-kZ_TobTsk')" class="internal-image ministerios">
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 mb-3">
                    <img [src]="getImgPath('1S0KzdVWdEw1l_z4ugGyIyQ7XPVnm1NDV')" class="internal-image ministerios">
                </div>
            </div>
        </a>
    </div>

    <div class="container">
        <p class="text-center">
            <a class="text-white exhibition-mobile" routerLink="/ministerios" data-aos="fade-right">
                Toque para saber sobre todos os ministérios.
            </a>
        </p>
        <p class="text-center">
            <a class="text-white exhibition-desktop" routerLink="/ministerios" data-aos="fade-right">
                Clique para saber sobre todos os ministérios.
            </a>
        </p>
    </div>
</div>